<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/appfrontend/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/appfrontend/css/bootstrap-theme.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/appfrontend/css/select2.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/appfrontend/css/frontend.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="pageTitle">
        {% block pageTitle %}{% endblock %}
        </div>
        {% block body %}{% endblock %}
        {% block staticJavascript %}
            <script type="text/javascript" src="{{ asset('bundles/appfrontend/js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/appfrontend/js/noty/packaged/jquery.noty.packaged.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/appfrontend/js/tinymce/js/tinymce/tinymce.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/appfrontend/js/select2.full.min.js') }}"></script>
            <script type="text/javascript">
                var myApp = myApp || {};
            </script>
        {% endblock %}
        
        {% block javascripts %}

        {% endblock %}

        <script>
            $('document').ready(function () {
            {% block javascripts_on_ready %}
                    
            {% endblock %}
            });
        </script>
</body>
</html>
