<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/appfrontend/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/appfrontend/css/bootstrap-theme.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/appfrontend/css/select2.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/appfrontend/css/frontend.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {{ include('default/modal.html.twig') }}
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
        <div class="headBar">
            <button class="glyphicon glyphicon-home btn btn-primary"></button>
            <div id="userIconsContainer">

            </div>
            <button id="loginButton" class="glyphicon btn btn-primary"></button>
        </div>
    {% block body %}{% endblock %}
    <script type="text/javascript" src="{{ asset('bundles/appfrontend/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/appfrontend/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/appfrontend/js/noty/packaged/jquery.noty.packaged.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/appfrontend/js/tinymce/js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/appfrontend/js/select2.full.min.js') }}"></script>
    <script type="text/javascript">
        var myApp = myApp || {};
    </script>
    <script type="text/javascript" src="{{ asset('bundles/appfrontend/js/frontendLib/modal.js') }}"></script>s
    <script type="text/javascript" src="{{ asset('bundles/appfrontend/js/frontendLib/index.js') }}"></script>s
    {% block javascripts %}{% endblock %}
    <script>
        $('document').ready(function () {
            myApp.index.initialize();
            {% block javascripts_on_ready %}

            {% endblock %}
        });
    </script>
</body>
</html>
